
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;

}

body
{
    direction: rtl;
    background-color: #dee2b7;
}
a
{
    text-decoration: none;
}

#content
{
    margin:11% 0;
}
#content .group
{
    margin-bottom: 30px;

}
#content .group h2
{
    font-size: 25px;
    text-align: right;
    line-height: 200%;
    border-bottom: 3px solid #9c2637;
    font-family: B yekan;
}
#content article
{
    text-align: center;
    margin: 15px auto;
    max-width: 340px;
    box-shadow: 0 0 0 1px white;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
#content article:hover
{
    box-shadow: 	0 3px 10px 2px #ccc;
}
#content .img
{
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;

}
#content .img img
{
    width: 100%;
    transition: 0.4s;
    display: block;
    height: 200px;
}
#content article:hover .img img
{
    transform: scale(1.1);
}
#content article h3
{
    color: black;
    font-weight:normal;
    padding-top: 15px;
    margin: 10px 8px 0 8px;
    font-size: 16px;
    overflow: hidden;
    height: 70px;
    text-align: center;
    font-family:B yekan;
    color: red;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px;
}
@media(min-width: 720px)
{
    #content article h3
    {
        font-size: 18px;
        letter-spacing:1px;
    }
}
#list1,#list2,#list3,#list4
{
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: white;
    width:100%;
    direction: rtl;
    top: -900px;
    z-index: 1;
    position: fixed;
    overflow: auto;
    line-height: 270%;
    transition:2s;
    box-shadow: 0 0 3px black;
    text-align: center;
}


ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #9c2637;

}
a
{
    text-decoration: none;
}

#list1 a,#list2 a,#list3 a,#list4 a
{
    border-bottom: 1px solid white;
    padding:0 15px;
    color: white;
    display:block;

}

#list1 a:hover { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);}
#list2 a:hover { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);}
#list3 a:hover { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);}
#list4 a:hover { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);}


}