*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;

}
.table th  {
	  font-weight: bold;
	  font-size: 20px;
  text-align: center;
  color: white;
}
.table td {
	  font-weight: normal;
	  font-size: 20px;

	  }
.table {
	  text-align: center;
	  overflow: hidden;
	  width: 70%;
	  margin: 20px auto;

  display: table;
 
  direction: rtl;
}
.table td:nth-child(1)
{
  width: 50px;
}
.table td:nth-child(2)
{
  width: 100px;
}
.table td, .table th {
	  padding-bottom: 2%;
	  padding-top: 2%;
 
}
.table tr:nth-child(even) {
	  background-color: #707277a6;
}
.table tr:nth-child(odd) {
	  background-color: #e6e6e785;
}
.table th {
	  background-color: #9c2637;
}

.table td:first-child { color: #9c2637; }

.table:hover tr:hover td {
	 box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}


.table caption
{
font-weight: bold;
	  font-size: 20px;
  text-align: center;
  color:white ;
  height: 50px;

	background-color:#9c2637 ;
	padding-top: 20px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.number-input{

	max-width: 30px;
	height: 40px;
	text-align: center;

}