[class*="col-"]
{
  float: right;
  padding-left: 12px;
  padding-right:12px;
  box-sizing: border-box;
}
.col-xs-12
{
  width: 100%;
}
.col-xs-11
{
  width: 91.66%;
}
.col-xs-10
{
  width: 83.33%;
}
.col-xs-9
{
  width: 75%;
}
.col-xs-8
{
  width: 66.66%;
}
.col-xs-7
{
  width: 53.33%;
}
.col-xs-6
{
  width: 50%;
}
.col-xs-5
{
  width: 43.66%;
}
.col-xs-4
{
  width: 33.33%;
}
.col-xs-3
{
  width: 25%;
}
.col-xs-2
{
  width: 16.66%;
}
.col-xs-1
{
  width: 8.3%;
}
@media (min-width: 720px)
{
  .col-sm-12
  {
    width: 100%;
  }
  .col-sm-11
  {
    width: 91.66%;
  }
  .col-sm-10
  {
    width: 83.33%;
  }
  .col-sm-9
  {
    width: 75%;
  }
  .col-sm-8
  {
    width: 66.66%;
  }
  .col-sm-7
  {
    width: 53.33%;
  }
  .col-sm-6
  {
    width: 50%;
  }
  .col-sm-5
  {
    width: 43.66%;
  }
  .col-sm-4
  {
    width: 33.33%;
  }
  .col-sm-3
  {
    width: 25%;
  }
  .col-sm-2
  {
    width: 16.66%;
  }
  .col-sm-1
  {
    width: 8.3%;
  }
}
@media (min-width: 960px)
{
  .col-md-12
  {
    width: 100%;
  }
  .col-md-11
  {
    width: 91.66%;
  }
  .col-md-10
  {
    width: 83.33%;
  }
  .col-md-9
  {
    width: 75%;
  }
  .col-md-8
  {
    width: 66.66%;
  }
  .col-md-7
  {
    width: 53.33%;
  }
  .col-md-6
  {
    width: 50%;
  }
  .col-md-5
  {
    width: 43.66%;
  }
  .col-md-4
  {
    width: 33.33%;
  }
  .col-md-3
  {
    width: 25%;
  }
  .col-md-2
  {
    width: 16.66%;
  }
  .col-md-1
  {
    width: 8.3%;
  }
}
@media (min-width: 1140px)
{
  .col-lg-12
  {
    width: 100%;
  }
  .col-lg-11
  {
    width: 91.66%;
  }
  .col-lg-10
  {
    width: 83.33%;
  }
  .col-lg-9
  {
    width: 75%;
  }
  .col-lg-8
  {
    width: 66.66%;
  }
  .col-lg-7
  {
    width: 53.33%;
  }
  .col-lg-6
  {
    width: 50%;
  }
  .col-lg-5
  {
    width: 43.66%;
  }
  .col-lg-4
  {
    width: 33.33%;
  }
  .col-lg-3
  {
    width: 25%;
  }
  .col-lg-2
  {
    width: 16.66%;
  }
  .col-lg-1
  {
    width: 8.3%;
  }
}



#input
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -200px;
  width:400px;
  height:400px;
  padding-top: 50px;
  direction: rtl;
}

form {
  border: 3px solid #f1f1f1;
  border-radius: 4px;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button
{
  background-color: #9c2637;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  outline: none;
}


button:hover
{
  opacity: 0.8;
}


.cancelbtn1
{
  width: auto;
  padding: 10px 18px;
  background-color: #9c2637;
}
.cancelbtn2
{
  width: auto;
  padding: 10px 18px;
  background-color: #9c2637;
  margin-left: 148px;
}


.container
{
  padding: 16px;
}
#input h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);}
.box:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);}




@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;

}


.wrapper
{
  margin: 0 auto;
  max-width: 1280px;
  display: block;


}
.row::after
{
  content: '';
  display: block;
  clear: both;
}

body
{
  direction: rtl;
  font-family: B yekan;
  background-color: white;
  margin: 0;
  padding: 0;
}
a
{
  text-decoration: none;
}
#topmenu
{
  width: 100%;
  height: 50px;
  background-color:#9c2637;
  position: fixed;
  z-index: 1;
  border-bottom: 2px solid white;
}
#topmenu ul
{

  border-top: 1px solid white;
  font-size: 20px;
  background-color: #9c2637;
  top:100%;
  width: 100%;
  max-width: 1280px;
  position: absolute;
  line-height: 250%;
  display: none;
}
#topmenu a
{
  display: block;
  font-size: 20px;
  padding-right: 30px;
  border-bottom: 1px solid white;
  color: white;
  transition: 0.3s;
}
#topmenu a:hover
{
  background-color: white;
  color: #222;
  text-decoration: none;
}
#button1
{
  position: fixed;
  right: 20px;
  top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
}


#header
{
  color: white;
  min-height: 645px;
  background-image: url('http://localhost/highschool/img/photo_2018-12-08_10-01-39.jpg');
  margin-top: 51px;
  padding: 10px;
  background-size: cover;
  background-position: center center;


}
#header h1
{
  margin: 20px;
}
.box
{
  width: 100%;
  height:57px;
  float: right;
  margin:7px auto;
  margin-bottom: 0;
  background-color: #a0bf7c;
}
#header h2
{
  font-size: 15px;
  color: black;
  letter-spacing: 1px;
  direction: rtl;
  display: inline-block;
  margin: 5px 5px;
  text-align: center;

}
#content
{
  margin-top: 15px;
}
#content .group
{
  margin-bottom: 30px;

}
#content .group h2
{
  font-size: 25px;
  text-align: right;
  line-height: 200%;
  border-bottom: 3px solid #9c2637;
}
#content article
{
  text-align: center;
  margin: 15px auto;
  max-width: 340px;
  box-shadow: 0 0 0 1px white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#content article:hover
{
  box-shadow: 	0 3px 10px 2px #ccc;
}
#content .img
{
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ccc;
}
#content .img img
{
  width: 100%;
  transition: 0.4s;
  display: block;
  height: 200px;
}
#content article:hover .img img
{
  transform: scale(1.1);
}
#content article h3
{
  color: black;
  font-weight:normal;
  padding-top: 15px;
  margin: 10px 8px 0 8px;
  font-size: 16px;
  overflow: hidden;
  height: 70px;
  text-align: center;
  font-family:B roya;
  color: red;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing:1px;
}
#sidebar
{
  margin-top: 15px;
}
#sidebar .group
{
  margin-bottom: 30px;

}
#sidebar .group h2
{
  font-size: 25px;
  text-align: right;
  line-height: 200%;
  border-bottom: 3px solid #9c2637;
}
#sidebar article
{
  text-align: center;
  box-shadow: 0 0 0 1px white;
}

#sidebar .submenu li
{
  width: 100%;
  transition: 0.4s;
  display: block;
}
#sidebar p
{

  position: relative;

  width: 100%;
  transition: 0.4s;
  padding-bottom:  10px;
  padding-top: 5px;
  margin-top: 5px;
  color: black;
}

#sidebar article:hover .p
{
  transform: scale(1.1);
}

#detail
{
  border-top: 3px solid #9c2637;
  background-color: #222;
  padding: 15px 0 30px 0;
}
#detail h3
{
  font-size: 20px;
  color: white;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: roya;
  border-bottom: 1px solid #555;

}
#detail .about
{

  margin-bottom:  10px;

}
#detail p
{
  font-size: 14px;
  color: #999;
  text-align: justify;
  padding:0 10px;
}

#detail li
{
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-top: 15px;
}
#detail .mail,#detail .phone
{
  direction:ltr;
}
#detail .mail img,#detail .phone img
{
  height: 24px;
  width: 24px;
  border-radius: 30px;
  vertical-align: -7px;
  margin-right: 10px;
}



@media(min-width: 1140px)
{
  #sidebar article
  {
    text-align: right;
  }
  #sidebar p
  {
    border-bottom: 1px solid #ccc;
  }
}




@media(min-width: 960px)
{
  #button1
  {
    display: none;
  }
  #topmenu ul
  {
    border: none;
    position: static;
    display: flex !important;
  }
  #topmenu a
  {

    padding:0 30px;
    margin: 0 2px;
    border: none;

  }
  #content article h3
  {
    font-size: 14px;
  }
  #sidebar article h3
  {
    font-size: 14px;
  }
  #detail li
  {
    font-size: 16px;
  }

}
@media(min-width: 590px)
{
  .box
  {
    height:38px;
  }
  #header h2
  {
    margin: 7px 5px;
  }
}
@media(min-width: 1140px)
{
  main > div{
    display: flex;
  }
  main > div > div{
    order: 2;
  }
}

